<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @grade.event %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @grade.price %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
