<h1>Top#show</h1>

<article>
  <h1>新着コンサート</h1>
  <ul>
    <% @concerts.each do |concert| %>
      <li>
        <figure>
          <%= image_tag concert_image_path(concert.concert_image) %>
          <figcaption>
            <%= concert.title %>
            <%= concert.artist %>
            <%= concert.user.email %>
            <%= link_to 'Show', concert %>
          </figcaption>
        </figure>
      </li>
    <% end %>
  </ul>
</article>
