<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @contact.user %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @contact.subject %>
</p>

<p>
  <strong>Request:</strong>
  <%= @contact.request %>
</p>

<p>
  <strong>Response:</strong>
  <%= @contact.response %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
