<%= javascript_include_tag 'concerts_form' %>
<%= simple_form_for(@concert) do |f| %>
  <%= f.input :title, as: :string %>
  <%= f.input :artist, as: :string %>
  <%= f.input :uploaded_file, label: '画像', as: :file, accept: 'image/png' %>

  <%= f.nested_fields_for :events do |event_f| %>
    <%= event_f.input :place, label: '会場', as: :string %>
    <%= event_f.input :date, label: '公演日時' %>
    <%= event_f.input :sell_start, label: '販売開始日時' %>
    <%= event_f.input :sell_end, label: '販売終了日時' %>
    <%= event_f.input :lottery, label: '抽選の有無' %>

    <%= event_f.nested_fields_for :grades do |grade_f| %>
      <%= grade_f.input :name, label: 'ブロック名', as: :string %>
      <%= grade_f.input :price, label: '価格', as: :integer %>

      <label>
        席番号
      </label>
      <div class="row">
        <%= grade_f.nested_fields_for :tickets, wrapper_tag: :span, wrapper_options: { class: 'col-md-1' } do |ticket_f| %>
          <%= ticket_f.input :seat, label: false, as: :string, item_wrapper_class: 'inline' %>
        <% end %>
      </div>
      <%= grade_f.add_nested_fields_link :tickets %>
      <%= f.button :button, 'clear', type: 'button', class: '.clearTicket', onclick: 'clearTicket(event)' %>
    <% end %>
    <%= event_f.add_nested_fields_link :grades %>
    <label>
      CSV(UTF-8)からインポートする
      <input type='file' class='.importGradeTicket' form='' accept='text/comma-separated-values' onchange='importGradeTicket(event)'></input>
    </label>
  <% end %>
  <%= f.add_nested_fields_link :events %>

  <%= f.submit '購入' %>
<% end %>
