<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @concert.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @concert.artist %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag image_concert_path(@concert) %>
</p>

<p>
  <strong>User:</strong>
  <%= @concert.user %>
</p>

<table border=1>
  <thead>
    <tr>
      <th>会場</th>
      <th>日時</th>
      <th>販売開始</th>
      <th>販売終了</th>
      <th>抽選</th>
      <th>購入</th>
    </tr>
  </thead>

  <tbody>
    <% @concert.events.each do |event| %>
      <tr>
        <td><%= event.place %></td>
        <td><%= event.date.strftime("%F %T") %></td>
        <td><%= event.sell_start.strftime("%F %T") %></td>
        <td><%= event.sell_end.strftime("%F %T") %></td>
        <td><%= event.lottery %></td>
        <% if event.sell_ok? %>
          <td><%= link_to 'buy', new_reservation_path(:event => {:id => event.id}), :target => '_blank' %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', concerts_path %>
