<div id="grade_ticket" data-grade-ticket="<%= @event.grade_ticket.to_json %>"></div>
<%= javascript_include_tag 'reservations_form' %>

<%= simple_form_for(@reservation_form, url: :reservations) do |f| %>
  <%= f.input :grade_id, label: '席グレード', collection: @event.grades.map{|g| [g.name + '(' + g.price.to_s + '円)', g.id]}, include_blank: false %>
  <% if @event.lottery %>
    <%= f.input :volume, label: '購入数', as: :integer, collection: 1..4, input_html: {value: '1'} %>
  <% else %>
    <%= f.nested_fields_for :tickets do |ticket_f| %>
      <%= ticket_f.label :id, '席番号', include_blank: false %>
      <%= ticket_f.select :id, [] %>
      <%= ticket_f.remove_nested_fields_link %>
    <% end %>
    <%= f.add_nested_fields_link :tickets %>
  <% end %>
  <%= f.input :payment_method, label: '支払い方法', collection: Reservation.payment_methods, include_blank: false %>
  <%= f.submit '購入' %>
<% end %>
