<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% @reservation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field :event, :id, :value => @event.id %>

  <div class="field">
    <%= label :concert, 'コンサート' %><br>
    <%= text_field :concert, :title, :disabled => true, :value => @concert.title %>
  </div>

  <div class="field">
    <%= label :event, '会場' %><br>
    <%= text_field :event, :place, :disabled => true, :value => @event.place %>
  </div>

  <div class="field">
    <%= label :grade, '席グレード' %><br>
    <%= select :grade, :id, @event.grades.map { |g| [g.name + '(' + g.price.to_s + '円)', g.id] } %>
  </div>

  <% if @event.lottery %>
    <%= number_field :volume, '購入数' %>
  <% else %>
    <%= f.nested_fields_for :tickets do |ticket_f| %>
      <%= ticket_f.label :id, '席番号' %>
      <%= ticket_f.select :id, [] %>
    <% end %>
    <%= f.add_nested_fields_link :tickets %>
  <% end %>

  <div class="field">
    <%= f.label :payment_method, '支払い方法' %><br>
    <%= f.select :payment_method, Reservation.payment_methods.keys.to_a %>
  </div>

  <div class="actions">
    <%= f.submit '購入' %>
  </div>
<% end %>
