<p id="notice"><%= notice %></p>

<h1>Listing Reservation</h1>

<table>
  <thead>
    <tr>
      <th>concert</th>
      <th>event</th>
      <th>state</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <% grade = reservation.grade %>
      <% event = grade.event %>
      <tr>
        <td><%= event.concert.title %></td>
        <td><%= event.place %></td>
        <td><%= reservation.buy_state %></td>
        <td><%= link_to 'Show', reservation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
