<!DOCTYPE html>
<html>
  <head>
    <title>Ticketol</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <ul>
      <li class="searchNav">
        <%= link_to "トップ", root_path %>
        <%= link_to "お問い合わせ", new_contact_path %>
        <%= link_to "コンサート一覧", concerts_path %>
        <%= form_tag(concerts_path, {:method => "get"}) %>
        <input name="q" type="search"/>
        <%= submit_tag "コンサート検索"%>
      </li>
      <li>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <% case current_user.role %>
          <% when "admin" %>
            <%= link_to "ユーザ一覧", users_path %> |
            <%= link_to "問い合わせ一覧", contacts_path %> |
          <% when "seller" %>
            <%= link_to "コンサート登録", new_concert_path %> |
          <% end %>
          <%= link_to "チケット一覧", reservations_path %> |
          <%= link_to "Edit profile", edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </li>
    </ul>

    <%= yield %>

  </body>
</html>
